In [10]:
import pandas as pd
import numpy as np

In [11]:
data = {
    'Index': [0, 1, 2, 3],
    'Experience': [3, 4, 5, 6],
    'Salary (million VND)': [60, 55, 66, 93]
}

df = pd.DataFrame(data)

df.head()

   Index  Experience  Salary (million VND)
0      0           3                    60
1      1           4                    55
2      2           5                    66
3      3           6                    93

In [12]:
for index, row in df.iterrows():
    print(f"Row {index}: Experience={row['Experience']}, Salary={row['Salary (million VND)']}")

Row 0: Experience=3, Salary=60
Row 1: Experience=4, Salary=55
Row 2: Experience=5, Salary=66
Row 3: Experience=6, Salary=93

In [16]:
w = 10
b = 5
lr = 0.01
losses = []
for index, row in df.iterrows():
    y = row['Salary (million VND)']
    x = row['Experience']
    y_hat = w * x + b

    loss = (y_hat - y)**2
    losses.append(loss)

    w_deterative = -2 * x * (y_hat - y)
    b_deterative = -2 * (y_hat - y)  

    w = w + lr*w_deterative
    b = b + lr*b_deterative

print("w :", w)
print("b :", b)

11.5
11.78
11.933
13.829168
w : 13.829168
b : 5.916628